name: Check PyPI

env:
  PACKAGE_NAME: gtfu

on: workflow_dispatch

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - run: pwd
      - run: ls ${{ github.workspace }}

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - run: python -m pip install --upgrade pip setuptools wheel
      - run: python -m pip install ${{ env.PACKAGE_NAME }}
      - run: python -m pip list

      - name: Print versions
        run: |
          python --version
          gtfu --version
          python -m gtfu --version

      - run: pwd
      - run: ls ${{ github.workspace }}

      - name: List files on Linux or macOS
        if: runner.os != 'Windows'
        run: |
          ls -AGhl
      - name: List files on Windows
        if: runner.os == 'Windows'
        run: |
          Get-ChildItem -Force
