# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

env:
  PACKAGE_NAME: gtfu

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python --version
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install poetry
          poetry install

      - name: List files on Linux or macOS
        if: runner.os != 'Windows'
        run: |
          ls -AGhl
      - name: List files on Windows
        if: runner.os == 'Windows'
        run: |
          Get-ChildItem -Force

      # https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error
      - name: Install packages for pyperclip on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install xsel xvfb

      # https://zenn.dev/denzow/articles/934cf44601628c
      - name: Test with pytest on Linux
        if: runner.os == 'Linux'
        run: |
          xvfb-run poetry run pytest --cov=${{ env.PACKAGE_NAME }} --cov-report=term-missing --cov-report=xml
      - name: Test with pytest on macOS or Windows
        if: runner.os != 'Linux'
        run: |
          poetry run pytest --cov=${{ env.PACKAGE_NAME }} --cov-report=term-missing --cov-report=xml

      - name: List files on Linux or macOS
        if: runner.os != 'Windows'
        run: |
          ls -AGhl
      - name: List files on Windows
        if: runner.os == 'Windows'
        run: |
          Get-ChildItem -Force

      - uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          fail_ci_if_error: false

      - run: ls ${{ github.workspace }}
